{% extends "base.html" %}

{% block content %}
    <h1>How to Play Online Blackjack:</h1>
        <ol>
            <li>Login to your account or register as a new user.</li>
            <li>View personal stats in the "My Account" tab or view the current leaderboard in the "Leaderboard" tab.</li>
            <li>Click the "New Game" button or tab to play blackjack.</li>
            <li>The automated dealer will deal you two cards and deal themselves two cards.</li>
            <li>The objective of blackjack is to have the sum of your hand of cards get as close to 21 without going over, so depending on your hand, you can "hit" or "stand".</li>
            <li>If you decide to "hit", the dealer will deal you another card.</li>
            <li>If you decide to "stand", your turn is over and the dealer will take their turn trying to reach 21.</li>
            <li>You win if you are closer to 21 than the dealer without going over.</li>
            <li>You will lose if you go over 21 or if the dealer is closer to 21 without going over.</li>
            <li>If you'd like to play again, select "Play Again".</li>
        </ol>
{% endblock %}